<div class="indexClass">
    <a href="/api/products" class="aClass btn btn-primary">
        Ver todos los productos
    </a>
    <a href="/api/addProduct" class="aClass btn btn-primary">
        Agregar un producto
    </a>
    <a href="/chat" class="aClass btn btn-success">
        Dejanos un mensaje
    </a>
</div>